@page
@model Website.Pages.MenuModel
@using DinoDiner.Menu
@{
    ViewData["Title"] = "Menu";
}
<div class="body">
    <div class="MenuItems">
        <h1>Menu</h1>
        <h2>Combos:</h2>
        <div class="menu-item">
            @foreach (CretaceousCombo c in Model.Combos)
            {
            <h3>@c</h3>
            <table>
                <tr>
                    <th>Size</th>
                    <th>Price</th>
                    <th>Calories</th>
                </tr>
                <tr>
                    <td>Small</td>
                    <td>@String.Format("{0:0.00}", Model.comboSizePrice("small", c))</td>
                    <td>@c.Calories</td>
                </tr>
                <tr>
                    <td>Medium</td>
                    <td>@String.Format("{0:0.00}", Model.comboSizePrice("medium", c))</td>
                    <td>@c.Calories</td>
                </tr>
                <tr>
                    <td>Large</td>
                    <td>@String.Format("{0:0.00}", Model.comboSizePrice("large", c))</td>
                    <td>@c.Calories</td>
                </tr>
            </table>
            <h3>Ingredients:</h3>
                <div class="ingredients">
                    @foreach (var item in c.Ingredients)
                    {
                        <h5>-@item</h5>
                    }
                </div>
            }
        </div>
        <h2>Sides</h2>
        <div class="menu-item">
            @foreach (Side c in Model.Sides)
            {
                <h3>@c</h3>
                <table>
                    <tr>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Calories</th>
                    </tr>
                    <tr>
                        <td>Small</td>
                        <td>@String.Format("{0:0.00}", Model.sideSizePrice("small", c))</td>
                        <td>@c.Calories</td>
                    </tr>
                    <tr>
                        <td>Medium</td>
                        <td>@String.Format("{0:0.00}", Model.sideSizePrice("medium", c))</td>
                        <td>@c.Calories</td>
                    </tr>
                    <tr>
                        <td>Large</td>
                        <td>@String.Format("{0:0.00}", Model.sideSizePrice("large", c))</td>
                        <td>@c.Calories</td>
                    </tr>
                </table>
                <h3>Ingredients:</h3>
                <div class="ingredients">
                    @foreach (var item in c.Ingredients)
                    {
                        <h5>-@item</h5>
                    }
                </div>
            }
        </div>
        <h2>Entrees</h2>
        <div class="menu-item">
            @foreach (Entree c in Model.Entrees)
            {
                <h3>@c</h3>
                <h4>Price: @c.Price</h4>
                <h4>Calories: @c.Calories</h4>
                <h3>Ingredients:</h3>
                <div class="ingredients">
                    @foreach (var item in c.Ingredients)
                    {
                        <h5>-@item</h5>
                    }
                </div>
            }
        </div>
        <h2>Drinks</h2>
        <div class="menu-item">
            @foreach (Drink c in Model.Drinks)
            {
                <h3>@c</h3>
                <table>
                    <tr>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Calories</th>
                    </tr>
                    <tr>
                        <td>Small</td>
                        <td>@String.Format("{0:0.00}", Model.drinkSizePrice("small", c))</td>
                        <td>@c.Calories</td>
                    </tr>
                    <tr>
                        <td>Medium</td>
                        <td>@String.Format("{0:0.00}", Model.drinkSizePrice("medium", c))</td>
                        <td>@c.Calories</td>
                    </tr>
                    <tr>
                        <td>Large</td>
                        <td>@String.Format("{0:0.00}", Model.drinkSizePrice("large", c))</td>
                        <td>@c.Calories</td>
                    </tr>
                </table>
                <h3>Ingredients:</h3>
                <div class="ingredients">
                    @foreach (var item in c.Ingredients)
                    {
                        <h5>-@item</h5>
                    }
                </div>
            }
        </div>
    </div>

    <div class="searchBody">
        <form method="post">
            <input type="text" name="search" id="search" value="@Model.search" />
            <input type="submit" value="Search & Filter" />

            <h4>Menu Category</h4>
            <div class="checkbox-list">
                <label>
                    <input class="menu-category" type="checkbox" name="menuCategory" value="Combo" checked="@Model.menuCategory.Contains("Combo")" />
                    Combo
                </label>
                <label>
                    <input class="menu-category" type="checkbox" name="menuCategory" value="Entree" checked="@Model.menuCategory.Contains("Entree")" />
                    Entree
                </label>
                <label>
                    <input class="menu-category" type="checkbox" name="menuCategory" value="Side" checked="@Model.menuCategory.Contains("Side")" />
                    Side
                </label>
                <label>
                    <input class="menu-category" type="checkbox" name="menuCategory" value="Drink" checked="@Model.menuCategory.Contains("Drink")" />
                    Drink
                </label>

                <h4>Price</h4>
                <label>
                    Min:
                    <input type="number" min="0" max="10" step="0.01" name="minimumPrice" id="minimum-price" value="@Model.minimumPrice" />
                </label>
                <label>
                    Max:
                    <input type="number" min="0" max="10" step="0.01" name="maximumPrice" id="minimum-price" value="@Model.maximumPrice" />
                </label>

                <h4>Ingredients to Exclude:</h4>
                @foreach (string c in Model.Menu.PossibleIngredients)
                {
                    <div>
                        <label>
                            <input class="possible-ingredients" type="checkbox" name="ingredients" value="@c" checked="@Model.ingredients.Contains(c)" />
                            @c
                        </label>
                    </div>
                }
            </div>
        </form>
    </div>
</div>

